<div class="main-display">
    <header class="header">
        <div class="header-content">
            <div class="branding">
                <figure class="logo-img">
                    <img src="/images/logo/logo.png" alt="logo-img">
                </figure>
                <a href="#" class="logo-link">
                    <img src="/images/logo/logo-link.png" alt="logo-link">
                </a>
            </div>
            <div class="about-contacts">
                <a href="#">О компании</a>
                <a href="#">Контакты</a>
            </div>
            <div class="burger-m-language">
                <!--burger-->

                <div class="burger-menu">
                    <input type="checkbox" id="check-menu">
                    <label for="check-menu" class="burger-label">MЕНЮ</label>
                    <nav class="navigation">
                        <a href="#" class="nav-link">О компании</a>
                        <a href="#" class="nav-link">Проекты</a>
                        <a href="#" class="nav-link">Контакты</a>
                        <a href="#" class="nav-link">Блог</a>
                    </nav>
                    <div class="burger-line first-l"></div>
                    <div class="burger-line second-l"></div>
                    <div class="burger-line third-l"></div>

                </div>
                <!--end of the burger-->
                <div class="language-select">
                    <span>RU</span>
                    <div class="lang-arrow" id="l-arrow"></div>
                </div>
                <!--added id for the language-list-->
                <div id="dropdown" class="select-lang-list">
                    <a class="lang-selector" href="#">fr</a>
                    <a class="lang-selector" href="#">en</a>
                </div>

            </div>
        </div>
    </header>

    <main class="main">
        <div class="icon-bar">
            <div class="socials">
                <a href="#" class="instagram">Ins</a>
                <a href="#" class="twitter">Tw</a>
                <a href="#" class="linkedin">In</a>
            </div>
        </div>
        <div class="slider-section">
            <div class="slider owl-carousel owl-theme">
                <div class="owl-lazy item slide-item" data-src="images/bg/bg-main.png">
                    <div class="item-caption">
                        <div class="main-content">
                            <div>Строительная Компания</div>
                            <div class="tagline">KEY DEVELOPMENT-МЫ СМОТРИМ В БУДУЩЕЕ</div>
                        </div>
                        <div class="count-progr-sec">
                            <div class="counter"></div>
                            <div class="progressbar"></div>
                        </div>
                    </div>
                </div>
                <div class="owl-lazy item slide-item" data-src="images/bg/bg-main3.png">
                    <div class="item-caption">
                        <div class="main-content">
                            <div>Строительная Компания</div>
                            <div class="tagline">KEY DEVELOPMENT-МЫ СМОТРИМ В БУДУЩЕЕ</div>
                        </div>
                        <div class="count-progr-sec">
                            <div class="counter"></div>
                            <div class="progressbar"></div>
                        </div>
                    </div>
                </div>
                <div class="owl-lazy item slide-item" data-src="images/bg/bg-main1.png">
                    <div class="item-caption">
                        <div class="main-content">
                            <div>Строительная Компания</div>
                            <div class="tagline">KEY DEVELOPMENT-МЫ СМОТРИМ В БУДУЩЕЕ
                            </div>
                        </div>
                        <div class="count-progr-sec">
                            <div class="counter"></div>
                            <div class="progressbar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="animation-block">
            <div class="info-section">
                <div class="first-info-part i-part">Проекты</div>
                <div class="second-info-part i-part">204 успешно выполненных
                    проекта
                </div>
                <div class="third-info-part i-part">320 спроектированых
                    обьектов
                </div>
                <a href="#" class="bottom-scroll-wrap">
                    <div class="arrow-shaft"></div>
                </a>
            </div>
        </div>

        <div class="icon-bar-responsive">
            <div class="socials">
                <a href="#" class="instagram">Ins</a>
                <a href="#" class="twitter">Tw</a>
                <a href="#" class="linkedin">In</a>
            </div>
        </div>
    </main>
</div>