<div class="main-display">
    <header class="header">
        <div class="header-content">
            <div class="branding">
                <figure class="logo-img">
                    <img src="/images/logo/logo.png" alt="logo-img">
                </figure>
                <a href="#" class="logo-link">
                    <img src="/images/logo/logo-link.png" alt="logo-link">
                    <!--<span>KEY</span><br><span>development</span>-->
                </a>
            </div>
            <div class="about-contacts">
                <a href="#">О компании</a>
                <a href="#">Контакты</a>
            </div>
            <div class="burger-m-language">
                <!--burger-->
                <div class="burger-menu">
                    <input type="checkbox" id="check-menu">
                    <label for="check-menu" class="burger-label">MЕНЮ</label>
                    <nav class="navigation">
                        <a href="#" class="nav-link">Home</a>
                        <a href="#" class="nav-link">Shop</a>
                        <a href="#" class="nav-link">Brands</a>
                        <a href="#" class="nav-link">Blog</a>
                    </nav>
                    <div class="burger-line first-l"></div>
                    <div class="burger-line second-l"></div>
                    <div class="burger-line third-l"></div>
                </div>
                <!--end of the burger-->
            </div>
        </div>
    </header>

    <main class="main">
        <div class="icon-bar">
            <div class="socials">
                <a href="#" class="instagram">Ins</a>
                <a href="#" class="twitter">Tw</a>
                <a href="#" class="linkedin">In</a>
            </div>
        </div>
        <div class="slider-section">
            <div class="slider owl-carousel owl-theme">
                <div class="owl-lazy item slide-item" data-src="images/bg/bg-main.png">
                    <div class="item-caption">
                        <div class="main-content">
                            <div>Строительная Компания</div>
                            <div class="tagline">KEY DEVELOPMENT-МЫ СМОТРИМ В БУДУЩЕЕ
                            </div>
                        </div>
                        <div class="count-progr-sec">
                            <div class="counter"></div>
                            <div id="progressbar-1" class="progressbar">
                                <div id="progress-line-1" class="progress-line"></div>
                            </div>
                            <!--<button onclick="move(event)">Click Me</button>-->
                            <!--additional div-->
                        </div>
                    </div>
                </div>
                <div class="owl-lazy item slide-item" data-src="images/bg/bg-main3.png">
                    <div class="item-caption">
                        <div class="main-content">
                            <div>Строительная Компания</div>
                            <div class="tagline">KEY DEVELOPMENT-МЫ СМОТРИМ В БУДУЩЕЕ
                            </div>
                        </div>
                        <div class="count-progr-sec">
                            <div class="counter"></div>
                            <div id="progressbar-2" class="progressbar">
                                <div id="progress-line-2" class="progress-line"></div>
                            </div>
                            <!--<button onclick="move(event)">Click Me</button>-->
                        </div>
                        <!--additional div-->
                    </div>
                </div>
                <div class="owl-lazy item slide-item" data-src="images/bg/bg-main1.png">
                    <div class="item-caption">
                        <div class="main-content">
                            <div>Строительная Компания</div>
                            <div class="tagline">KEY DEVELOPMENT-МЫ СМОТРИМ В БУДУЩЕЕ
                            </div>
                        </div>
                        <div class="count-progr-sec">
                            <div class="counter"></div>
                            <div id="progressbar-3" class="progressbar">
                                <div id="progress-line-3" class="progress-line"></div>
                            </div>
                            <!--<button onclick="move(event)">Click Me</button>-->
                        </div>
                        <!--additional div-->
                    </div>
                </div>
            </div>
        </div>
        <div class="animation-block">
            <div class="info-section">
                <div class="first-info-part i-part">Проекты</div>
                <div class="second-info-part i-part">204 успешно выполненных
                    проекта
                </div>
                <div class="third-info-part i-part">320 спроектированых
                    обьектов
                </div>
                <a href="#" class="bottom-scroll-wrap">
                    <div class="arrow-shaft"></div>
                    <!--<div class="arrow-head"></div>-->
                </a>
            </div>
        </div>
    </main>
</div>